@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    

        <br />
        <div class="container row">

            <div class="col-6">
                <h2 class="text-info"> Info List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="FormList/Create" class="btn btn-primary">Create New Form</a>
            </div>


        </div>
   
